.footer {
    width: 100%;
    background-color: #000;
    color: rgb(255, 112, 89);
    padding: 4rem 0;
    text-align: center;
}

.footer .container {
    max-width: 1140px;
    margin: auto;
    display: grid;
    padding: 0rem;
    grid-template-columns: repeat(4, 1fr);
}

.footer a {
    display: inline-block;
    border-bottom: 3px solid var(--primary-blue);
    padding-bottom: .5rem;
    color: rgb(255, 112, 89);

}

@media screen and (max-width: 940px) {
    .footer .container {
        grid-template-columns: 1fr 1fr;
    }

    .footer h4 {
        margin-top: 2rem;
    }
}